@import url("https://use.typekit.net/khk4wbb.css");

@font-face {
  font-family: "Track";
  font-style: bold;
  font-weight: 800;
  font-display: swap;
  src: url("~assets/fonts/Track-Regular.ttf") format("truetype");
}

body {
  font-family: "bicyclette", sans-serif;
  font-size: 17px;
  font-style: normal;
  line-height: 150%;
}
.h4 {
  font-family: "adobe-handwriting-ernie", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s ease;
}
.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(100px);
  opacity: 0;
}
.slide-left-enter,
.slide-right-leave-to {
  transform: translateX(100px);
}
.slide-right-enter,
.slide-left-leave-to {
  transform: translateX(-100px);
}
.slide-right-enter,
.slide-right-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}
